body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
    }

/* div sel  */
#div_sel{
    display: flex;
    flex-direction: row;
    align-items: center;
    }
    

/* upload div */
#div_upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
#div_btn_upload{
	align-self: flex-start;
    }

/*plot div */
#div_plot{
    width: 100%;
    height: 400px;
    }

/*logos */
#div_logos{
    width: 400px;
}
.logo{
	height: 75px;
}

#plantel{
	font-size: 2vw;
	margin: 16px;
	border-style:hidden;
	background-color:lightblue;
}

/*botones */
input[type="button"]{
    font-size: 16px;
    background-color: inherit;
    color: darkblue;
    border-style: hidden;
    margin: 5px;
}

#div_title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
	font-size: 4vw;
}
h2{
	font-size: 3vw;
}
