html{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    background-color: rgba(55, 55, 55, 0.5);
    }

body{
    display: flex;
    margin: 0;
    flex-direction: column;
    background-image: url('../img/fondo_gotas.png');
    background-attachment: fixed;
    background-size: 100%;
    }

#div_body{
    display: flex;
    flex-direction: column;
    max-width: 1200px; 
    padding: 5px;
    gap: 20px;
    align-items: center;
}

#colh2{
    width: 100%;
}

/* div sel  */

#div_sel{
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 400px;
    }
    

/* upload div */
#div_upload{
    display: flex;
    flex-direction: column;
    align-items: left;
}
#div_btn_upload{
	align-self: flex-start;
}

/*plot div */
#div_plot{
  width: 100%;
  height: 400px;
}

#plantel{
	/*font-size: 24px;*/
	margin: 16px;
	border-style:hidden;
	background-color:lightblue;
}

/*botones */
input[type="button"]{
    font-size: 16px;
    background-color: inherit;
    color: darkblue;
    border-style: hidden;
    margin: 5px;
}

.mainc{
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0px;
    flex-wrap: wrap;
    max-width: calc(100% - 20px); 
    border-radius: 10px;
}

#div_xopan{
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.95);
}

.img_main{
    width: 100%;
}

h1{
    margin: 5px;
	/*font-size: 4vw;*/
}

h2{
    margin: 3px;
	/*font-size: 4vw;*/
}

p{
    font-size: 1.0em;
    margin: 2px;
}

.inrain{
    width: 5em;
}
